.Bg_Product {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 3;
}

.ProductBox {
    --resize: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 50vh;
    aspect-ratio: 1/1;
    background-image: url(assents/Preto.png);
    background-size: cover;
    background-position: center;
    margin: auto;
    overflow: hidden;
}

.Preview {
    position: absolute;
    width: 35%;
    aspect-ratio: 29/42;
    user-select: none;
}

.ProductEdit {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    --bg_color: #ffffff;
}

.ProductEdit::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    mask: url(assents/Fundo.svg) center / contain no-repeat;
    background-color: var(--bg_color);
}

.ImgWrap {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24%;
    width: 100%;
    height: 51%;
    border: 1px dashed transparent;
    box-sizing: border-box;
    overflow: hidden;
}

.ImgWrap.border {
    border: 1px dashed red;
}

.ImgPreviewBox {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    overflow: hidden;
    cursor: pointer;
}

.ImgPreviewBox::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--bg_color);
    mix-blend-mode: color;
}

.ImgPreview {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    user-select: none;
}

.ImgPreview svg {
    height: 100%;
    width: 100%;
    user-select: none;
}

.nameBox {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 75%;
    width: 100%;
    height: 3%;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: font_1;
    font-size: 120%;
    color: var(--bg_color);
    line-height: 0;
    text-transform: uppercase;
    white-space: nowrap;
}

.iconsBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 2%;
}

.iconName {
    height: 100%;
    aspect-ratio: 1/1;
    mask: url(assents/bar.svg) center / cover no-repeat;
    background: var(--bg_color);
}

.textBox {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 80%;
    height: 17%;
    left: 51%;
    width: 47%;
}

.textPlace {
    color: var(--bg_color);
    text-align: center;
    font-family: font_1;
    font-size: x-small;
}

.Personalization {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    width: 100%;
    padding: 20px 0;
}

.Personalization > :first-child {
    margin-top: 0;
}

@font-face {
    font-family: font_1;
    src: url(assents/ArchivoBlack-Regular.ttf) format('truetype');
}