@font-face {
    font-family: '';
    src: url('78e69154c2b58e531a8b1d3a0f15d175.woff2') format('woff2'),
        url('78e69154c2b58e531a8b1d3a0f15d175.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

