.Bg_Tshirt {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ffffff;
}

.Tshirt {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 50vh;
    aspect-ratio: 1/1;
    background-image: url(assents/Branco.png);
    background-size: cover;
    background-position: center;
    margin: auto;
    overflow: hidden;
}

.Tshirt.Zoom {
    background-size: 190%;
}

.Preview {
    position: absolute;
    width: 35%;
    aspect-ratio: 29/42;
    border: 1px solid transparent;
}

.Preview.border {
    border: 1px dashed red;
}

.Preview.Zoom {
    transform: scale(1.90);
}

.Preview.left {
    border-left: 1px solid blue;
}
.Preview.top {
    border-top: 1px solid blue;
}
.Preview.right {
    border-right: 1px solid blue;
}
.Preview.bottom {
    border-bottom: 1px solid blue;
}

.Pr_Drag {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.ImgWrap {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ImgPreviewBox {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    overflow: hidden;
    cursor: pointer;
}

.ImgPreview {
    position: relative;
    user-select: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.ImgPreview svg {
    height: 100%;
    width: 100%;
    user-select: none;
}

.ImgSelector {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    --border: 2px;
    --positons: -6px;
    --size: 10px;
}

.ImgSelector.selected {
    display: flex;
}

.ImgDragMove {
    height: 100%;
    width: 100%;
    cursor: move;
}

.imgSize {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--size);
    width: var(--size);
    background-color: white;
    border: var(--border) solid black;
    border-radius: 50%;
    box-sizing: border-box;
    
}

.imgSize.Zoom {
    scale: .6;
}

.imgSize::after {
    content: '';
    position: absolute;
    height: 300%;
    width: 300%;
}

.T, .T-L, .T-R {
    top: var(--positons);
}
.B, .B-L, .B-R {
    bottom: var(--positons);
}
.L, .T-L, .B-L {
    left: var(--positons);
}
.R, .T-R, .B-R {
    right: var(--positons);
}
.T-R, .B-L {
    cursor: nesw-resize;
}
.T-L, .B-R {
    cursor: nwse-resize;
}
.T, .B {
    cursor: ns-resize;
}
.R, .L {
    cursor: ew-resize;
}

.Zomm_Wrap {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12%;
    aspect-ratio: 1/1;
    bottom: 1%;
    left: 1%;
    background-color: #fff;
    border: 3px solid black;
    border-radius: 30%;
}

.Zoom_Btn {
    height: 100%;
    width: 100%;
    color: black;
    margin: 10%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.Zoom_Btn.selected {
    display: none;
}

.Zoom_Btn.In {
    background-image: url(assents/Zoom-in.svg);
}

.Zoom_Btn.Out {
    background-image: url(assents/Zoom-out.svg);
}

.Pr_Border {
    position: absolute;
    height: 12%;
    aspect-ratio: 1/1;
    bottom: 1%;
    right: 1%;
    color: black;
    background-color: white;
    background-image: url(assents/Border.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid black;
    border-radius: 30%;
}

.Personalization {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: aqua;
    padding: 20px 0;
}

.addImage.empty {
    position: relative;
    width: 30%;
    aspect-ratio: 1/1;
    border: 2px solid black;
    border-radius: 30px;
    margin: 0 auto;
    background: url(assents/Upload.svg) center / contain no-repeat white;
    overflow: hidden;
}

.imgIconBox {
    display: none;
    flex-direction: column;
    max-width: 100%;
    margin: 0 20px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

.imgSlider {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
    overflow-x: auto;
    padding: 20px 0;
}

.imgIcon {
    position: relative;
    height: 85%;
    object-fit: contain;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    margin: 0 5px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.5s;
}

.imgIcon:first-child {
    margin-left: 10px;
}

.imgIcon:last-child {
    margin-right: 10px;
}

.imgIcon.selected {
    height: 100%;
    border: 2px solid red;
}

.iconsButtons {
    display: flex;
    width: 100%;
    height: 40px;
    border-bottom: 4px solid black;
}

.iconsButtons >* {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.addImage {
    width: 50%;
    border-right: 2px solid black;
}

.deletImg {
    width: 50%;
    border-left: 2px solid black;
}

.sliderBox {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 15px;
}

.sliderBox.selected {
    display: flex;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 40px;
    background-color: #ddd;
    border-radius: 40px;
    margin: 0;
    border: 3px solid black;
    z-index: 2;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 40px;
    background: #fff;
    border-radius: 0px;
    border: 3px solid #000;
    margin: 0 -20 0 0;
}

.Icon-1-1 {
    height: 100%;
    aspect-ratio: 1/1;
}

.Icon-1-1.imageAdd {
    background: url(https://www.svgrepo.com/show/521942/add-ellipse.svg) center / contain no-repeat white;
}

.Icon-1-1.delete {
    background: url(https://www.svgrepo.com/show/533024/trash-xmark.svg) center / contain no-repeat white;
}