@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.3);
    }
    100% {
        box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
    }
}

.hidden {
    display: none !important;
}

.tittle {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(var(--boxSize) + var(--header-height));
    text-align: center;
    font-size: 2.5rem;
    font-family: sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    box-shadow: none;
    background: #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    line-height: 4rem;
    z-index: 2;
}

.imgSliderBox {
    display: flex;
}

.addImage {
    background: url(https://www.svgrepo.com/show/506770/upload.svg) center / 5rem no-repeat white;
}

.addImage.empty {
    width: 30%;
    aspect-ratio: 1/1;
    border-radius: var(--base-border-radius);
}

.imgIconBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: var(--base-border-radius);
    overflow: hidden;
    box-sizing: border-box;
}

.imgSlider {
    max-width: 100%;
    height: 14rem;
    padding: 0.4rem 0;
    margin: 0.5rem 0;
    background-color: lightgray;
    border-radius: var(--base-border-radius);
}

.imgIcon {
    position: relative;
    object-fit: contain;
    background-color: white;
}

.iconsButtons {
    display: flex;
    width: 100%;
    height: 4rem;
    border-bottom: 3px solid black;
}

.iconsButtons >* {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.iconsButtons > :first-child {
    border-right: 1.5px solid black;
}

.iconsButtons > :last-child {
    border-left: 1.5px solid black;
}

.iconsButtons.full > * {
    border: none;
}

.iconsButtons.full > :first-child {
    display: none;
}

.displayBox  {
    height: 10rem;
    width: 100%;
    padding: 0.5rem 0;
    border-radius: var(--base-border-radius);
}

.displayBox > div {
    height: calc(90% - 1rem) !important;
    padding: 0.5rem;
}

.displayBox > div.selected {
    height: calc(100% - 1rem) !important;
    border: none !important;
}

.displayBox > div > * {
    border: 1px solid black;
    box-sizing: border-box;
}

.gridIconsBox  {
    width: 100%;
    max-width: 20rem;
    z-index: 1;
}

.gridIconsBox > * {
    width: 100%;
    height: 100%;
    border: 3px solid black;
    border-radius: var(--base-border-radius);
    box-sizing: border-box;
}

.gridIconsBox > .selected {
    border: 3px solid red;
    z-index: 2;
}

.imgOptionsBox {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
}

.optionBtnBox {
    display: flex;
    max-width: 100%;
    overflow: auto;
    margin: .8rem 0;
    padding: 6px .5rem;
    box-sizing: border-box;
}

.optionBtnBox > * {
    height: 5rem;
    padding: 0rem 3rem;
    background-color: #fff;
    border: 3px solid transparent;
    margin: 0 .5rem;
    box-shadow: 0 2px 4px #000;
    background-size: 60% !important;
}

.optionBtnBox > .selected {
    border: 3px solid red;
}

.filterBoxIcon {
    background: url(https://www.svgrepo.com/show/498931/settings2.svg) center no-repeat;
}

.colorModeBoxIcon {
    background: url(https://www.svgrepo.com/show/488310/paint-brush.svg) center no-repeat;
}

.potraceBoxIcon {
    background: url(https://www.svgrepo.com/show/372460/half-star.svg) center no-repeat;
}

.optionsBox {
    width: 100%;
}

.optionsBox > * {
    display: flex;
    padding: 0 0.5rem;
    flex-direction: column;
    align-items: center;
}

.optionsBox > * > * {
    margin: 1rem 0;
}

.brightnessBox::before  {
    background: url(https://www.svgrepo.com/show/521520/brightness.svg) center / contain no-repeat;
}

.contrastBox::before  {
    background: url(https://www.svgrepo.com/show/475953/contrast-2.svg) center / contain no-repeat;
}

.saturateBox::before  {
    background: url(https://www.svgrepo.com/show/475988/saturate.svg) center / contain no-repeat;
}

.replaceImgIcon {
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    filter: invert();
}

.replaceImgIcon::after {
    content: '';
    aspect-ratio: 1/1;
    padding-left: 0.5rem;
    background: url(https://www.svgrepo.com/show/506770/upload.svg) center / contain no-repeat;
}

.idxChange {
    position: relative;
    display: flex;
    height: 3rem;
    width: 80%;
    border: 3px solid black;
    border-radius: 3rem;
}

.idxChange >* {
    width: 100%;
    height: 100%;
}

.idxBefore {
    background: url(https://www.svgrepo.com/show/509012/action-undo.svg) center / contain no-repeat;
}

.idxAfter {
    background: url(https://www.svgrepo.com/show/509011/action-redo.svg) center / contain no-repeat;
}

.customBox input[type="text"] {
    height: 5rem;
    width: 100%;
    max-width: 30rem;
    font-size: 2.6rem;
    font-weight: 700;
    text-align: center;
    border: 0px;
}

.customBox input[type="number"] {
    height: 5rem;
    width: 100%;
    max-width: 30rem;
    font-size: 2.6rem;
    font-weight: 700;
    text-align: center;
    border: 0px;
}

.customBox input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 3rem;
    background-color: #ddd;
    border-radius: 3rem;
    margin: 0;
    border: 3px solid black;
}

.customBox input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4rem;
    border-radius: var(--base-border-radius);
}

.customBox input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.5rem;
    height: 4rem;
    background: #fff;
    border-radius: 0.5rem;
    border: 3px solid #000;
    margin: 0 -1.4rem 0 0;
}

.inputRangeBox {
    width: 100%;
}

.inputRangeBox::before {
    content: '';
    aspect-ratio: 1 / 1;
    margin: 0 0 1rem !important;
} 

.inputRangeBox > div {
    padding: 0.3rem 1rem 0;
    font-size: 1.3rem;
    background: #000;
    color: #fff;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.inputRangeBox.potrace::before {
    background: url(https://www.svgrepo.com/show/35790/adjustment-button.svg) center / contain no-repeat;
}

.fontSizeBox::before {
    background: url(https://www.svgrepo.com/show/332385/font-size.svg) center / contain no-repeat;
}

.textStrokeBox::before {
    background: url(https://static.thenounproject.com/png/5035765-200.png) center / contain no-repeat;
}

.strokeColorBox::before {
    mask: url(https://static.thenounproject.com/png/5035765-200.png) center / contain no-repeat;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet,
     red, orange, yellow, green, blue, indigo, violet);
}

.textColorBox::before {
    background: url(https://www.svgrepo.com/show/444520/gui-text-color.svg) center / contain no-repeat;
}

.letterSpacingBox::before {
    background: url(https://www.svgrepo.com/show/361532/letter-spacing.svg) center / contain no-repeat;
}

.fontIcon {
    aspect-ratio: 1/1;
    font-size: 1.8rem;
    text-align: center;
    box-sizing: border-box;
}

.slider {
    position: relative;
    display: flex;
    align-items: center;
    overflow-x: auto;
    max-width: 100%;
    box-sizing: border-box;
}

.slider >* {
    flex: none;
    height: 80%;
    margin: 0 .4rem;
    border-radius: var(--base-border-radius);
    box-shadow: 0 0 3px 1px black;
}

.slider > :first-child {
    margin-left: 0.8rem;
}

.slider > :last-child {
    margin-right: 0.8rem;
}

.slider > .selected {
    height: 100%;
    box-shadow: 0 0 0 3px red;
}

.addIcon {
    background: url(https://www.svgrepo.com/show/521942/add-ellipse.svg) center / contain no-repeat white;
}

.deleteIcon {
    background: url(https://www.svgrepo.com/show/533024/trash-xmark.svg) center / contain no-repeat white;
}

.plusIcon {
    background: url(https://www.svgrepo.com/show/532997/plus-large.svg) center / contain no-repeat;
}

.lessIcon {
    background: url(https://www.svgrepo.com/show/532178/horizontal-rule.svg) center / contain no-repeat;
}

.orderIcon {
    background: url(https://www.svgrepo.com/show/521722/layers-1.svg) center / contain no-repeat;
}

label {
    cursor: pointer;
}

.btn {
    cursor: pointer;
    transition: 0.2s;
    border-radius: var(--base-border-radius);
}

.sizeBox > div {
    aspect-ratio: 1 / 1;
    padding: 0 0.4rem;
}

.sizeBox::before {
    content: '';
    aspect-ratio: 1 / 1;
}

.switchDisplay {
    display: flex;
    flex-direction: column;
}

.switchDisplay > div {
    height: inherit;
    margin: 1rem 0 0 0;
}

.switchDisplay > :nth-child(1) {
    margin-top: 0;
}

.switchBox > div {
    display: flex;
    align-items: center;
    aspect-ratio: 4 / 1;
    border: 3px solid black;
    border-radius: 5rem;
    box-sizing: border-box;
    contain: content;
    z-index: 1;
}

.switchBtn {
    position: absolute;
    width: 50%;
    height: 100%;
    background: red;
    mix-blend-mode: color;
    border-radius: 5rem;
    transition: 0.2s;
    z-index: 2;
}

.switchBtn.onLeft {
    left: 0;
}

.switchBtn.onRight {
    left: 50%;
}

.switchBox > div::before, .switchBox > div::after {
    content: '';
    position: relative;
    height: 100%;
    aspect-ratio: 1/1;
    margin: 0 auto;
    z-index: 1;
}

.switchBox.potrace > div::before {
    background: url(https://www.svgrepo.com/show/372460/half-star.svg) center / contain no-repeat;
}

.switchBox.potrace > div::after {
    transform: rotateY(180deg);
    background: url(https://www.svgrepo.com/show/372460/half-star.svg) center / contain no-repeat;
}

.switchBox.colorModeBox > div::before {
    background: url(https://www.svgrepo.com/show/488310/paint-brush.svg) center / contain no-repeat;
}

.colorBox.colorModeBox::before {
    background: url(https://www.svgrepo.com/show/488310/paint-brush.svg) center / contain no-repeat;
}

.box_1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: var(--base-border-radius);
    padding: 0.8rem;
    background-color: #fff;
    box-shadow: 0px 2px 4px black;
    box-sizing: border-box;
}

.box_1 > .box_1 {
    box-shadow: none;
    padding: 0;
}

.box_1 > * {
    height: 4.5rem;
}

.box_1::before, .box_1::after{
    height: 3.4rem;
    margin: 0.8rem;
}

.btn.onClick {
    box-shadow: 0 0 3px 1px red;
}

.alertBox {
    position: fixed; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    top: 0; 
    left: 0; 
    height: 100%; 
    width: 100%; 
    background: #000000b8; 
    z-index: 9999;
}

.alertBox div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 80%;
    max-width: 30rem;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.alertBox span {
    margin: 0 0 5%;
}

.alertBox button {
    font-size: 1.3rem;
    font-weight: 600;
    border: 3px solid black;
    padding: 1% 5%;
    border-radius: var(--base-border-radius);
    cursor: pointer;
}

.colorBox::before {
    content: '';
    aspect-ratio: 1/1;
}

.JsColorBox {
    display: flex;
}

.JsColorBox > * {
    height: 100%;
    border: 3px solid black;
    border-radius: var(--base-border-radius);
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
}

.JsColorBox > div > div {
    position: relative;
    top: 0;
    width: 7rem;
    border-bottom: 2px solid black;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 1;
    background: #fff;
}

.JsColorBox.grid {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2 ,1fr);
    height: 8rem;
}

.JsColorBox.grid > .jscolor {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    width: 100%;
    margin: 0px;
    aspect-ratio: unset;
}

.jscolor {
    aspect-ratio: 3 / 1;
}

.jscolor-wrap {
    left: calc(50% - 156px) !important;
}

.jscolor-wrap .jscolor-btn {
    width: 100%;
    border: none !important;
}

.jscolor-btn-close {
    background: url(https://www.svgrepo.com/show/521564/close.svg) center / contain no-repeat !important;
}

.LoadingCustom {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    background-color: #000000e6;
}

.LoadingCustom.message1 {
    > div:nth-child(2) {
        display: block;
    }
    > div:nth-child(3) {
        display: none;
    }
}

.LoadingCustom.message2 {
    > div:nth-child(2) {
        display: none;
    }
    > div:nth-child(3) {
        display: block;
    }
}

.LoadingCustom.ProductLoad {
    > div:nth-child(-n+3) {
        display: none !important;
    }
}

.loadGif {
    height: 189px;
    width: 189px;
    max-width: 50vw;
    max-height: 50vw;
    border-radius: 10%;
}

.loadMessage {
    text-align: center;
    color: white;
    font-size: 5rem;
    margin: 10px 0 0;
}

.loaderDots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0;
}

.loaderDots > div {
    width: 20px;
    height: 20px;
    background: aqua;
    border-radius: 50%;
    margin : 3px;
    animation: loaderDots 0.6s infinite alternate;
}

.loaderDots > div:nth-child(2) {
    animation-delay: 0.2s;
}

.loaderDots > div:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes loaderDots {
    to {
        transform: translateY(-20px);
    }
}