.ProductEdit {
    --color: black;
}

.ProductEdit::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    mask: url(assents/Fundo.svg) center / contain;
    background-color: var(--color);
}

.textGroup {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 9%;
    height: 69%;
    width: 86%;
    color: var(--color);
}

.textGroup > * {
    position: relative;
    display: flex;
    height: 100%;
    font-size: 6%;
    font-family: font_1;
    line-height: 0;
    text-transform: uppercase;
    align-items: center;
    white-space: nowrap;
}

.textGroup > :nth-child(1) {
    z-index: 2;
}

.textGroup > :nth-child(n + 2):nth-child(-n + 4) {
    color: transparent;
    -webkit-text-stroke: 0.1em var(--color);
}

.imgWrapGroup {
    position: absolute;
    top: 18%;
    width: 62%;
}

.ImgWrap {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.ImgWrap:nth-child(1) {
    position: relative;
    --color: var(--color);
}

.grid_1 {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    aspect-ratio: 1 / 1.2;
}

.grid_1.display_1 > *{
    height: 100%;
    width: 100%;
}

.grid_2 {
    display: flex;
    aspect-ratio: 1 / 1.2;
}

.grid_2 > * {
    height: 100%;
    width: 100%;
}

.gridIconsBox.grid_2 {
    max-width: 50%;
}

@font-face {
    font-family: font_1;
    src: url(assents/ArchivoBlack-Regular.ttf) format('truetype');
}